#list {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, 320px);
  align-items: center;
  grid-gap: 50px;
  justify-content: left;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #99aab5;
  border-radius: 5px;
}