@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-family: 'Lato', sans-serif;
  background: rgb(31, 15, 51);
  background: linear-gradient(170deg, rgb(24, 11, 39) 0%, rgb(7, 3, 12) 60%, rgba(0,0,0,1) 100%);
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  color: rgb(221, 217, 230);
  margin: 0rem;
  user-select: none;
}

a {
  all: unset;
}

.link {
  font-family: 'Open Sans', sans-serif;
  color: #912c7a;
  cursor: pointer;
  transition-duration: 300ms;
}

.link:hover {
  color: #b3298e;
}



/* Card */

.main {
  background-color: #1D1D1D;
  border: 0.2rem #912c7a solid;
  border-radius: 0.6rem;
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.banner {
    width: 42rem
}

.picture {
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 17rem;
    height: 8rem;
    border-radius: 1rem;
    border: 0.2
}

.name {
    position: absolute;
    z-index: 1;
    left: 9.4rem;
    top: 21.8rem;
    font-size: 2rem;
}

.name > .nah {
    font-size: 1.2rem;
}

.content {
    position: relative;
    z-index: 1;
    left: 0rem;
    top: 2.22rem;
    padding: 1rem;
    padding-bottom: 4rem!important;
    font-size: 1.4rem;
}

.errorPage {
    top: -0.9rem;
    padding-bottom: 0rem!important;
    font-size: 1.4rem;
}

.box {
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: rgba(65, 42, 71, 0.4);
    border-radius: 0.6rem;
}

.title {
    font-size: 1.7rem;
    color:  rgba(239, 183, 253, 0.6);
}

.description {
    font-size: 1.1rem;
    color:  rgba(251, 235, 255, 0.8);
    user-select:text;
}

.nah {
    font-size: 1.1rem;
    color:  rgba(219, 188, 226, 0.5);
}

.ico {
    width: 1.2rem;
    position: relative;
    top: 0.23rem;
    margin-left: 0.2rem;
    margin-right: 0.08rem;
}