@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    font-family: 'Ubuntu',
        sans-serif;
    background: #0B0510;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    color: rgb(221, 217, 230);
    margin: 0rem;
    user-select: none;
}

body {
    margin: 0rem;
}

a {
    all: unset;
}

.link {
    font-family: 'Open Sans', sans-serif;
    color: #b671a7;
    cursor: pointer;
    transition-duration: 300ms;
}

.link:hover {
    color: #9c5c8e;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(40, 20, 46, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(40, 20, 46, 1);
}

.set-luna {
    overflow-x: hidden;
    font-size: 0.9rem;
    color: #a9aec0;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.luna {
    display: flex;
}

@media screen and (max-width: 1000px) {
    .set-luna {
        transform: rotate(-90deg);
        right: -3.6rem;
        bottom: 5rem;
    }
}