.align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation: fadein 2000ms;
    overflow-x: hidden;
    transition-duration: 200ms;
}

.align_light {
    background-color: rgb(255, 255, 255) !important;
}

@keyframes fadein {
    from {
        margin-top: 2rem;
        opacity: 0;
    }

    to {
        margin-top: 0rem;
        opacity: 1;
    }
}

.container {
    overflow-x: hidden !important;
    margin-top: 13rem;
    margin-bottom: 2rem;
    background-color: rgb(30, 26, 34);
    width: 49.4rem;
    box-shadow: rgb(27, 24, 31, 0.6) 0px 4px 12px;
    transition-duration: 200ms;
}

.container_light {
    background-color: rgb(223, 225, 227);
    box-shadow: rgb(27, 24, 31, 0.2) 0px 4px 12px;
}

.banner {
    width: 790px;
    height: 316px;
    border-radius: 0.2rem;
    position: absolute;
    z-index: 1;
}

.on_banner {
    position: absolute;
    z-index: 2;
    width: 790px;
    height: 316px;
}

@media screen and (max-width: 840px) {
    .container {
        width: 90vw;
    }

    .banner {
        width: 90vw;
    }

    .on_banner {
        width: 90vw;
    }
}

.me {
    position: relative;
    z-index: 3;
    margin-top: 4.6rem;
    display: flex;
}

.profilepicture {
    height: 8.64rem;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    padding: 0.3rem;
    position: absolute;
    left: 1rem;
}

.badges {
    display: flex;
    margin: auto;
    max-width: 80vw;
    margin-left: 0.5rem;
    position: absolute;
    left: 10.9rem;
    top: 6.1rem
}

.badge {
    background-color: rgb(59, 54, 66);
    border-radius: .2rem;
    margin: 0.2rem 0.7rem 0.2rem 0;
    padding: 0.3rem 0.5rem 1.66rem 0.5rem;
    display: flex;
    font-size: 1.2rem;
    max-height: 1.9rem;
    position: relative;
    bottom: 0rem;
    transition-duration: 200ms;
}

.badge_light {
    background-color: rgb(191, 195, 201);
    color: rgb(87, 92, 99)
}

.badge:hover {
    transform: scale(1.03);
}

.badge>svg {
    color: rgb(82, 94, 229);
    transition-duration: 500ms;
}

.badge:hover>svg {
    color: rgb(83, 97, 253)
}

.content {
    margin: 4.6rem 1rem 1rem 1rem;
}

@media screen and (max-width: 700px) {
    .container {
        margin-top: 8rem;
    }

    .banner {
        height: 11rem;
    }

    .on_banner {
        height: 11rem;
    }

    .me {
        margin-top: 1rem;
    }
}

.readme {
    position: relative;
    user-select: text;
    background-color: rgba(36, 32, 41, 0.4);
    padding: 0.8rem 0.8rem 0.8rem 0.4rem;
    border-radius: 0.2rem;
    font-size: 1.09rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 1rem;
    transition-duration: 200ms;
}

.readme_light {
    background-color: rgba(201, 206, 211, 0.3);
    color: rgb(87, 92, 99);
}

.section {
    margin-top: 1.6rem;
}

.icon {
    position: absolute;
    height: 5rem;
    width: 5rem;
    right: -0.4rem;
    top: -0.4rem;
    border-radius: 0.4rem;
    background-color: #0f0d10;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.error {
    z-index: 1000;
    font-size: 1.2rem;
    color: rgb(255, 62, 94);
    background-color: rgba(72, 36, 51, 0.8);
    border-radius: 0.2rem;
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    user-select: text;
}

@media screen and (max-width: 540px) {
    .container {
        margin-top: 5rem;
        width: 100vw;
        box-shadow: none;
        margin-bottom: 0;
    }

    .banner {
        width: 100vw;
    }

    .on_banner {
        width: 100vw;
    }

    .content {
        margin-top: 7.6rem;
    }

    .name {
        position: relative;
        top: 3rem;
    }

    .badges {
        left: 1rem;
        top: 9.66rem
    }

    .icon {
        height: 2.9rem;
        border-radius: 0.3rem;
        right: -0.2rem;
        top: -0.2rem;
    }

    .error {
        right: 0rem;
        top: 0rem;
        bottom: unset;
        background-color: rgb(99, 39, 62);
    }
}

.fadeout {
    animation: fadeout 1000ms;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}