.header {
    user-select: none;
    position: relative;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.08rem;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    display: flex
}

li {
    position: relative;
    right: 1.1rem;
    margin-right: 1rem;
}

.header-ico {
    position: relative;
    top: 0.192rem;
    right: 0.25rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
}

.header-button {
    cursor: pointer;
    background-color: rgba(174, 133, 187, 0.2);
    padding: 0.4rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    border-radius: 0.4rem;
    font-family: 'Open Sans', sans-serif;
    transition-duration: 400ms;
    color: #f0f0f0
}

.header-button:hover {
    transform: scale(1.06);
    background-color: rgba(174, 133, 187, 0.1);
}