@media screen and (max-width: 700px) {
    .banner {
        width: 24rem;
    }

    .main {
        margin-top: 36rem !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #1D1D1D;
        border: 0.2rem #912c7a solid;
        border-radius: 0.6rem;
    }

    .picture {
        top: 6rem;
    }

    .name {
        top: 10.2rem;
    }

    .content {
        top: 3.8rem;
    }

    .site-box {
        max-height: 7.1rem;
    }

    .header-user {
        display: absolute;
        visibility: hidden;
    }

    .profile {
        position: absolute;
        top: -7.5rem
    }
}

@media screen and (max-width: 1000px) {
    .set-luna {
        transform: rotate(-90deg);
        right: -3.6rem;
        bottom: 5rem;
    }
}